body 
{
    margin: 0;
    font-family: Cambria;
}

/*HEADER*/

ul.topnav 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: maroon;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) 
{
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

/*CONTENT*/
.container
{
    margin: auto;
    padding-top: 200px;
    width: 60%;
}

.container h1, .container p, .container a, footer p
{
    text-align: center;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
}